.todos {
    background-color: #333;
    width: 50%;
    height: 60vh;
    color: white;
    padding: 1rem;
    border-radius: 0.8rem;
    overflow: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow for depth */
  }
  