.todo {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 0.8rem;
    transition: background-color 0.3s ease;
    /* Smooth hover transition */

    /* Adjust the hover background color */
    &:hover {
        background-color: #111;
    }

    p {
        opacity: 0.6;
    }
}

.btn {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}